.nav-container--outer{
	background: $project-green;
	width: 100%;	
}

.nav-container--inner{
	display: block;
	position: relative;
	padding: $default-padding;
	max-width: $max-page-width;
	margin: 0 auto;
}

.nav-searchbar{
	display: block;
	position: absolute;
	width: 40%;
	left: 30%;
}

.nav-login{
	float: right;
}

.nav-logo {
	float: left;
	max-width: 140px;
}

h3.nav-container--login {
	color: white;
	text-transform: uppercase;;
	font-size: 14px;
	font-weight: 900;
	letter-spacing: 3px;
}