.tag {
	@include display-flex(inline-flex);
	@include border-radius(5px);
	padding: 4px 7px;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	margin-right: $default-margin / 4;
	
	&.talent {
		color: white;
	}

	&.border {
		border: solid 2px $medium-grey;
		color: $medium-grey;
	}

	.icon{
		margin-right: 5px;
	}

}