.h1 {
	font-weight: 600;
	font-size: 28px;
}

.h1__title{
	font-weight: 600;
	font-size: 28px;
	color: $main-grey;
	margin-bottom: $default-margin / 2;
}

.h2 {
	font-weight: 500;
	font-size: 16px;
}

.h2__tagline{
	font-weight: 500;
	font-size: 16px;
	color: $secondary-grey;
	margin-bottom: $default-margin / 2;
}

.h3__login {
	font-weight: 900;
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 40px;
}

.h3__likes {
	font-weight: 700;
	font-size: 14px;
	color: $secondary-grey

	&-active{
		font-weight: 900;
		color: $main-grey;
	}
}

.h4 {
	font-weight: 700;
	font-size: 12px;
	color: $secondary-grey;
	text-transform: uppercase;
}

.h4__icon{
	font-weight: 700;
	font-size: 12px;
	color: white;
	text-transform: uppercase;	
}

.h5__date {
	font-weight: 500;
	font-size: 13px;
	color: $main-grey;
	text-transform: uppercase;
	letter-spacing: 60px;
}

.p__main {
	font-weight: 300;
	font-size: 12px;
	color: $main-grey;
	line-height: 24px;
}